@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/img4.jpg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #84635684;
    border: 2px solid #646057a3;
    color: #e6e7e2;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.intro-image__link a:hover {
    transform: scale(1.1);
}

.intro-text {
    background-color: #674b37c4;
    color: #e6e7e2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 15rem;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    height: 450px;
    background-image: url('../img/img3.jpg');
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #92736389;
    border: 2px solid #64605796;
    color: #e6e7e2;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.quality-image__link a:hover {
    transform: scale(1.1);
}

.quality-text {
    background-color: #674b37c4;
    color: #e6e7e2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 15rem;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image {
    background-attachment: fixed;
    height: 450px;
    background-image: url('../img/img7.jpg');
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a{
    background-color: #654f3e88;
    border: 2px solid #64605796;
    color: #e6e7e2;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.origin-image__link a:hover {
    transform: scale(1.1);
}


.origin-text {
    background-color: #5c4636cc;
    color: #e6e7e2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 1.5rem;
}

.origin-text__textbox h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 150px;
    background-color: #6b5b4e;
    color: #d8d7d7;
    padding-top: 2rem;
    font-size: 1rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color:  #d8d7d7;
    text-decoration: none;
}

.footer ul li:hover {
    transform: scale(1.1);
}